snippet bench
	using BenchmarkDotNet.Running;
	using BenchmarkDotNet.Attributes;

	// dotnet add package BenchmarkDotNet
	// dotnet run -c Release

	var summary = BenchmarkRunner.Run<${0:My}Benchmarks>();

	[MemoryDiagnoser]
	public class ${0:My}Benchmarks
	{
			public ${0:My}Benchmarks()
			{
			}

			[Benchmark]
			public void ${1:Foo}()
			{

			}

			[Benchmark]
			public void ${2:Bar}()
			{

			}
	}
