
**/packer_compiled.lua

.scripts/.vscode
.scripts/omnisharp.json
macos/karabiner/automatic_backups
macos/karabiner/.DS_Store
dotnet/obj
dotnet/dotnet.sln
.vscode/settings.json
node_modules
tmux-client-*.log
package-lock.json
package.json
