
**/packer_compiled.lua

.scripts/.vscode
.scripts/omnisharp.json
macos/karabiner/automatic_backups
macos/karabiner/assets/complex_modifications
macos/karabiner/.DS_Store
dotnet/obj
dotnet/dotnet.sln
.vscode/settings.json
